<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/ignas.css">
    <title>Ignas Rocys</title>
</head>
<body>
    <header class="header">
        <h2>Studentas</h2>
        <ul class="nav">
            <li>Namai</li>
            <li>Apie</li>
            <li>Kontaktai</li>
        </ul>
    </header>
    <main class="main">
        <h1>Pradinis portfolio puslapis</h1>
    </main>
    <aside class="aside">
        <table>
            <caption>Kursai</caption>
            <tr>
                <th>Nr.</th>
                <th>Pavadinimas</th>
                <th>Trukmė</th>
            </tr>
            <tr>
                <th>1</tH>
                <td>Python Pagrindai</td>
                <td class="text-right">20 d.</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Duomenų bazės</td>
                <td class="text-right">5 d.</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Python giliau: duomenų mokslas, mašininis mokymasis</td>
                <td class="text-right">15 d.</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Frontendas, HTML ir CSS</td>
                <td class="text-right">5 d.</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Django</td>
                <td class="text-right">10 d.</td>
            </tr>
            <tr>
                <th>6</th>
                <td>Linux ir Docker</td>
                <td class="text-right">5 d.</td>
            </tr>
            <tr>
                <th>7</th>
                <td>Praktinis darbas</td>
                <td class="text-right">10 d.</td>
            </tr>
        </table>
    </aside>
    <footer class="footer">
        <a href="/">Atgal i grupes puslapi</a>
    </footer>
</body>
</html>