<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/ignas.css">
    <title>Ignas Rocys</title>
</head>
<body>
    <header class="header">
        <h2>Studentas</h2>
        <h1>Igno superinis puslapis</h1>
    </header>
    <div class="courses">
        <table>
            <caption>Kursai</caption>
            <tr>
                <th>Nr.</th>
                <th>Pavadinimas</th>
                <th>Trukmė</th>
            </tr>
            <tr>
                <th>1</tH>
                <td>Python Pagrindai</td>
                <td class="text-right">20 d.</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Duomenų bazės</td>
                <td class="text-right">5 d.</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Python giliau: duomenų mokslas, mašininis mokymasis</td>
                <td class="text-right">15 d.</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Frontendas, HTML ir CSS</td>
                <td class="text-right">5 d.</td>
            </tr>
            <tr>
                <th>5</th>
                <td>Django</td>
                <td class="text-right">10 d.</td>
            </tr>
            <tr>
                <th>6</th>
                <td>Linux ir Docker</td>
                <td class="text-right">5 d.</td>
            </tr>
            <tr>
                <th>7</th>
                <td>Praktinis darbas</td>
                <td class="text-right">10 d.</td>
            </tr>
        </table>
    </div>
    <div class="flex-container">
        <div class="item">
            <img src="https://images.unsplash.com/photo-1676026273590-ac4b25e833af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1933&q=80" alt="">
        </div>
        <div class="item">
            <img src="https://images.unsplash.com/photo-1676037047139-c66892d83958?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80" alt="">
        </div>
        <div class="item">
            <img src="https://images.unsplash.com/photo-1675295952455-848b18698574?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="">
        </div>
        <div class="item">
            <img src="https://images.unsplash.com/photo-1675974147277-8fac1c4efd07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="">
        </div>
    </div>
    <footer class="footer">
        <a href="/">Atgal i grupes puslapi</a>
    </footer>
</body>
</html>